<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lx.dao.ProductMapper">

    <select id="selectPageList" parameterType="Page" resultType="Product">
SELECT * from product WHERE cid=#{keyWord} AND pflag=0 ORDER BY pdate DESC limit #{start},#{pageSize}
    </select>
    <select id="selectCount" parameterType="Page" resultType="Integer">
select COUNT(1) from product WHERE cid=#{keyWord} AND pflag=0
    </select>
    <select id="select" parameterType="Product" resultType="Product">
        select * from product
        <where>
            <if test="pid!=null">
                pid=#{pid}
            </if>
        </where>
        AND pflag=0
    </select>

</mapper>